@{
    ViewBag.Title = "Index";

    var files = ViewBag.files as string[];

}

<h2>Index</h2>

<ul>

@foreach (var i in files)
{
    <li>@Html.ActionLink(Path.GetFileNameWithoutExtension(@i), "Contents", new { id = Path.GetFileNameWithoutExtension(@i) })</li>
}
</ul>

